<% content_for :page_title, "Forum" %>

<br>
<center>
<p>Welcome to the ecoscope Forum! Feel free to share questions and open discussions about environmental issues, post links or info that intrigues or inspires you, or just write a message about our site. Click on a post to interact and comment or click the Create button to make your own!</p>
</center>
<section class="section">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4"><%= link_to post.title, post %></p>
            </div>
          </div>
          <div class="content">
            <%= post.content%>
          </div>
          <!-- <div class="comment-count">
            <span class="tag is-rounded"></span>
          </div> -->
        </div>
      </div>
    <% end %>
  </div>
</section>
